// Fonts
@import url("https://fonts.googleapis.com/css?family=Outfit");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";


.chart_bgc {
    background-color: #f8fafc;
        .labels-fs {
            font-size: 16px;
        }
}

@media screen and (min-width: 600px) {
    .chart_bgc {
        .row {
            .cnt-all {
                .cnt-all {
                    .cnt-labels {
                        div {
                            .labels-fs {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}