// Fonts
@import url("https://fonts.googleapis.com/css?family=Outfit");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.card-dashboard-dishes {
    width: 100%;
    border: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color: #292929;
        li{
            border: none;
        }

    .btn-dashboard {
        background-color: #00ccbc;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        align-self: flex-end;
    }
}
.container_img {
    width: 50%;
}
